
<%- include ('./layouts/header') %>

  <main class="container">
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal" _msthash="795236" _msttexthash="253617">Welcome to Blood for Life</h1>
      <img class="d-block mx-auto mb-4" src="https://img.icons8.com/external-microdots-premium-microdot-graphic/344/external-blood-medical-healthcare-vol1-microdots-premium-microdot-graphic.png" alt="" width="160" height="125">
      <h1 class="display-5 fw-bold" _msthash="483054" _msttexthash="248118">DONATE blood, DONATE life</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4" _msthash="671606" _msttexthash="40942031">An action that seems simple to you is the hope of many. Donate blood!</p>
      </div>
    </div>
  </div>
  
  <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-md-6 px-0">
      <h1 class="display-4 fst-italic" _msthash="706186" _msttexthash="1428960">Donating blood will cost you nothing, and will save a life</h1>
      <p class="lead my-3" _msthash="671424" _msttexthash="13155220">The act of donating blood allows not to miss blood banks, or the donor! The organism recovers the volume donate in 72 hours after donation!</p>
      <p class="lead mb-0"><a href="https://salvovidas.com/blog-salvovidascom/" class="text-white fw-bold" _msthash="671541" _msttexthash="270790">keep reading...</a></p>
    </div>
  </div>
  <div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <strong class="d-inline-block mb-2 text-primary" _msthash="1515657" _msttexthash="60918">Mundo</strong>
        <h3 class="mb-0" _msthash="1273116" _msttexthash="263679">Donate blood</h3>
        <div class="mb-1 text-muted" _msthash="1336166" _msttexthash="198666">18 de agosto</div>
        <p class="card-text mb-auto" _msthash="1224925" _msttexthash="6101901">
          » Estar em boas condições de saúde, pesar no mínimo 50kg, estar descansado (ter dormido pelo menos 6 horas nas últimas 24 horas), estar alimentado (evitar alimentação gordurosa nas 4 horas que antecedem a doação)
           </p>
        <a href="http://www.prosangue.sp.gov.br/artigos/requisitos_basicos_para_doacao.html" class="stretched-link" _msthash="1223677" _msttexthash="233116">Continue lendo</a>
      </div>
    </div>
  </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success" _msthash="1516073" _msttexthash="115583">Projetar</strong>
          <h3 class="mb-0" _msthash="1273480" _msttexthash="336089">Blood for Life</h3>
          <div class="mb-1 text-muted" _msthash="1336543" _msttexthash="193986">26 de Agosto</div>
          <p class="mb-auto" _msthash="1225276" _msttexthash="6101901">Este é um cartão que descreve o conteúdo aqui elaborado.</p>
          <a href="/suggestions" class="stretched-link" _msthash="1224028" _msttexthash="233116">sugestões</a>
        </div>
      </div>
    </div>
</div>
</div>
 
  </main>

<%- include ('./layouts/footer') %>  