<%- include ('./layouts/header') %>

  <main class="container">
  <div class="row mb-2">
    <div class="row g-5">
      <div class="col-md-8">
        
        <h3 class="pb-4 mb-4 fst-italic border-bottom" _msthash="706966" _msttexthash="152841"><%= currentUser.name.firstName%>  </h3>
        <article class="blog-post">
          <h2 class="blog-post-title mb-1" _msthash="1181791" _msttexthash="424983">Post blog donate blood</h2>
          <p class="blog-post-meta" _msthash="1134809" _msttexthash="498290">18 de Agosto de 2022 por <a href="http://github.com/ManoelAFJr" _istranslated="1">ManoelAFJr</a></p>
          <p _msthash="1134926" _msttexthash="21897395">Este post no blog mostra alguns tipos diferentes de conteúdo que é suportado e estilizado com Bootstrap. Tipografia básica, listas, tabelas, imagens, código e muito mais são suportados como esperado.</p>
          <hr>
          <p _msthash="1135277" _msttexthash="49994243">Este é um conteúdo adicional pratica na disciplina de APS, PW1, Banco de Dados e Testes disciplinas do 4° período do campus CZ IFPB, este trablho é desenvolvido no âmbito acadêmico.</p>
          <h2 _msthash="1182571" _msttexthash="289822">Tecnologias Usadas</h2>
          <p _msthash="1135511" _msttexthash="1397435">Aqui teremsos as tecnologias usadas no template:</p>
          <blockquote class="blockquote">
            <p _msthash="1932645" _msttexthash="438022">JavaScript</p>
          </blockquote>
          <p _msthash="1182337" _msttexthash="49994243">
            é uma linguagem de programação que permite a você implementar itens complexos em páginas web — toda vez que uma página da web faz mais do que simplesmente mostrar a você informação estática — mostrando conteúdo que se atualiza em um intervalo de tempo, mapas interativos ou gráficos 2D/3D animados, etc.
          </p>
          <h3 _msthash="1230307" _msttexthash="324883">Listas de exemplos</h3>
          <p _msthash="1182597" _msttexthash="22887267">
            Technology:
          </p>
        
          <ul>
            <li _msthash="1514747" _msttexthash="418834">JavaScript</li>
            <li _msthash="1514877" _msttexthash="1715532">Nodejs</li>
            <li _msthash="1515007" _msttexthash="958724">Connect-flash</li>
            <li _msthash="1515007" _msttexthash="958724">Cookie-parse</li>
            <li _msthash="1515007" _msttexthash="958724">dotenv</li>
            <li _msthash="1515007" _msttexthash="958724">express</li>
            <li _msthash="1515007" _msttexthash="958724">express-handlebars</li>
            <li _msthash="1515007" _msttexthash="958724">passport</li>
            <li _msthash="1515007" _msttexthash="958724">mongoose</li>
            <li _msthash="1515007" _msttexthash="958724">neo4j</li>
            <li _msthash="1515007" _msttexthash="958724">redis</li>
          </ul>
        
          <p _msthash="1183117" _msttexthash="788060">E esta é uma lista de definição:</p>
          <dl>
            <dt _msthash="1513343" _msttexthash="720395">HyperText Markup Language (HTML)</dt>
            <dd _msthash="1511809" _msttexthash="2967224">O idioma usado para descrever e definir o conteúdo de uma página da Web</dd>
            <dt _msthash="1513603" _msttexthash="693667">Folhas de estilo em cascata (CSS)</dt>
            <dd _msthash="1512069" _msttexthash="1752088">Usado para descrever a aparência do conteúdo da Web</dd>
            <dt _msthash="1513863" _msttexthash="212212">JavaScript (JS)</dt>
            <dd _msthash="1512329" _msttexthash="3935789">A linguagem de programação usada para construir sites e aplicativos avançados</dd>
          </dl>
          <h2 _msthash="1231204" _msttexthash="394420">Elementos HTML inline</h2>
          <p _msthash="1183507" _msttexthash="9920235">HTML define uma longa lista de tags inline disponíveis, uma lista completa das quais pode ser encontrada na <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element" _istranslated="1">Mozilla Developer Network</a>.</p>
          <ul>
            <li><font _mstmutation="1" _msthash="1514318" _msttexthash="540046"><strong _mstmutation="1" _istranslated="1">Para texto em negrito</strong>, use .</font><code class="language-plaintext highlighter-rouge">&lt;strong&gt;</code></li>
            <li><font _mstmutation="1" _msthash="1514448" _msttexthash="309530"><em _mstmutation="1" _istranslated="1">Para itálico,</em> use .</font><code class="language-plaintext highlighter-rouge">&lt;em&gt;</code></li>
            <li><font _mstmutation="1" _msthash="1514578" _msttexthash="3998215">Abreviaturas, como <abbr title="HyperText Markup Language" _mstmutation="1" _istranslated="1">HTML</abbr> devem usar, com um atributo opcional para a frase completa.</font><code class="language-plaintext highlighter-rouge">&lt;abbr&gt;</code><code class="language-plaintext highlighter-rouge">title</code></li>
            <li><font _mstmutation="1" _msthash="1514708" _msttexthash="948714">Citações, como <cite _mstmutation="1" _istranslated="1">- Mark Otto</cite>, deve usar .</font><code class="language-plaintext highlighter-rouge">&lt;cite&gt;</code></li>
            <li><font _mstmutation="1" _msthash="1514838" _msttexthash="2524782"><del _mstmutation="1" _istranslated="1">O texto excluído</del> deve ser usado e o texto <ins _mstmutation="1" _istranslated="1">inserido</ins> deve ser usado .</font><code class="language-plaintext highlighter-rouge">&lt;del&gt;</code><code class="language-plaintext highlighter-rouge">&lt;ins&gt;</code></li>
            <li><font _mstmutation="1" _msthash="1514968" _msttexthash="184379">Sobrescrito </font><sup _msthash="1887262" _msttexthash="63141">Texto</sup><font _mstmutation="1" _msthash="1514969" _msttexthash="270829"> usos e subscrito </font><code class="language-plaintext highlighter-rouge">&lt;sup&gt;</code><sub _msthash="1885910" _msttexthash="63141">Texto</sub><font _mstmutation="1" _msthash="1514970" _msttexthash="37024"> Usa.</font><code class="language-plaintext highlighter-rouge">&lt;sub&gt;</code></li>
          </ul>
          <p _msthash="1182584" _msttexthash="6031480">A maioria desses elementos são estilizados por navegadores com poucas modificações de nossa parte.</p>
          <h2 _msthash="1230476" _msttexthash="92768">Connect database</h2>
          <p _msthash="1182844" _msttexthash="49994243"></p>
          <pre><code> 
            const mongoose = require('mongoose');
            mongoose.connect(`mongodb://0.0.0.0/test`);
          </code></pre>
          <h3 _msthash="1230866" _msttexthash="175643">Sub-título</h3>
          <p _msthash="1183104" _msttexthash="49994243">Este é um conteúdo adicional de espaço reservado para parágrafos. Foi escrito para preencher o espaço disponível e mostrar como um trecho mais longo do texto afeta o conteúdo circundante. Vamos repeti-lo muitas vezes para manter a demonstração fluindo, então fique atento a esta mesma sequência de texto.</p>
          <pre><code>Example code block</code></pre>
          <p _msthash="1183364" _msttexthash="15118181">Este é um conteúdo adicional de espaço reservado para parágrafos. É uma versão um pouco mais curta do outro texto corporal altamente repetitivo usado por toda parte.</p>
        </article>
        <nav class="blog-pagination" aria-label="Pagination" _mstaria-label="157170">
          <a class="btn btn-outline-primary rounded-pill" href="#" _msthash="928057" _msttexthash="59553">Older</a>
          <a class="btn btn-outline-secondary rounded-pill" href="#" _msthash="928174" _msttexthash="60957">Newer</a>
        </nav>
      
      </div>
    
      <div class="col-md-4">
       
          <div class="position-sticky" style="top: 2rem;">
            <div class="card" style="text-align: center;  border: 0ex;" >
              <p style =" color: rgb(0, 0, 0); background-color: antiquewhite;">
                <strong>Prontuario:  </strong> <%= currentUser._id%> 
              </p>
            </div>
            <div class="p-4 mb-3 bg-light rounded">
              <h4 class="fst-italic" _msthash="1273896" _msttexthash="59826">Sobre</h4>
              <p class="mb-0" _msthash="1225471" _msttexthash="14396993">Projeto desenvolvido para aperfeiçoamento de tecnicas tecnologicas do curso de Analíse e Desenvolvimento de Sistemas (ADS) Campus Cajazeiras IFPB</p>
            </div>
          
            <div class="p-4">
              <h4 class="fst-italic" _msthash="1274104" _msttexthash="98384">Arquivo</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="https://developer.mozilla.org/pt-BR/docs/Web/JavaScript" _msthash="1560338" _msttexthash="151606">JavaScript</a></li>
                <li><a href="https://nodejs.org/en/" _msthash="1560468" _msttexthash="231972">NodeJs</a></li>
                <li><a href="https://www.npmjs.com/package/connect-flash" _msthash="1560598" _msttexthash="179998">Connect-flash</a></li>
                <li><a href="https://www.npmjs.com/package/cookie-parser" _msthash="1560728" _msttexthash="204971">Cookie-parse</a></li>
                <li><a href="https://www.npmjs.com/package/dotenv" _msthash="1560858" _msttexthash="206453">Dotenv</a></li>
                <li><a href="https://expressjs.com/pt-br/" _msthash="1560988" _msttexthash="184067">Express</a></li>
                <li><a href="https://www.npmjs.com/package/express-handlebars" _msthash="1561118" _msttexthash="205634">Express-handlebars</a></li>
                <li><a href="https://www.npmjs.com/package/passport" _msthash="1561248" _msttexthash="158678">Passport</a></li>
                <li><a href="https://www.npmjs.com/package/mongodb" _msthash="1561378" _msttexthash="135980">Mongoose</a></li>
                <li><a href="https://www.npmjs.com/package/neo4j-driver" _msthash="1615172" _msttexthash="136214">Neo4j</a></li>
                <li><a href="https://www.npmjs.com/package/redis" _msthash="1615315" _msttexthash="113698">Redis</a></li>
              </ol>
            </div>
          
            <div class="p-4">
              <h4 class="fst-italic" _msthash="1274312" _msttexthash="96018">Network</h4>
              <ol class="list-unstyled">
                <li><a href="https://github.com/ManoelAFJr" _msthash="1560611" _msttexthash="72332">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/manoel-a-ferreira-junior-2632a3207/" _msthash="1560871" _msttexthash="110734">Linkedin</a></li>
              </ol>
            </div>
          </div>
      </div>
    </div>
  </div>  
  </main>

<%- include ('./layouts/footer') %>